/* desert scheme ported from vim to google prettify */
pre.prettyprint {
    display: block;
    background-color: var(--code);
    border: none !important;
}
pre .nocode {
    background-color: none;
    color: var(--fg);
}
pre .str {
    color: light-dark(#ffa0a0, #ffb6c1);
} /* string  - pink */
pre .kwd {
    color: light-dark(#006400, #32cd32);
    font-weight: bold;
}
pre .com {
    color: light-dark(#800000, #ff6347);
} /* comment - skyblue */
pre .typ {
    color: light-dark(#006400, #32cd32);
} /* type    - lightgreen */
pre .lit {
    color: light-dark(#8b0000, #ff4500);
} /* literal - darkred */
pre .pun {
    color: var(--fg);
} /* punctuation */
pre .pln {
    color: var(--fg);
} /* plaintext */
pre .tag {
    color: light-dark(#006400, #32cd32);
    font-weight: bold;
} /* html/xml tag    - lightyellow */
pre .atn {
    color: light-dark(#5f6100, #b8860b);
    font-weight: bold;
} /* attribute name  - khaki */
pre .atv {
    color: light-dark(#ff1493, #ff69b4);
} /* attribute value - pink */
pre .dec {
    color: light-dark(#006400, #32cd32);
} /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--fg);
} /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
    list-style-type: none;
}
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
}

/* @media print {
    pre.prettyprint {
        background-color: none;
    }
    pre .str,
    code .str {
        color: #060;
    }
    pre .kwd,
    code .kwd {
        color: #006;
        font-weight: bold;
    }
    pre .com,
    code .com {
        color: #600;
        font-style: italic;
    }
    pre .typ,
    code .typ {
        color: #404;
        font-weight: bold;
    }
    pre .lit,
    code .lit {
        color: #044;
    }
    pre .pun,
    code .pun {
        color: #440;
    }
    pre .pln,
    code .pln {
        color: #000;
    }
    pre .tag,
    code .tag {
        color: #006;
        font-weight: bold;
    }
    pre .atn,
    code .atn {
        color: #404;
    }
    pre .atv,
    code .atv {
        color: #060;
    }
} */
