.view {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1000px;
}

h1 {
    font-size: 4em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 3em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

h3 {
    margin-top: 1.5em;
    margin-left: 1em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.2em;
}

note {
    border-radius: var(--border-radius-secondary);
    overflow: hidden;
    display: block;
    margin: 0 1em 2em 1em;

    .title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5em;
        padding: 0.5em 1em;
        color: var(--fg);
        font-weight: bold;
        text-transform: uppercase;

        transition:
            background-color 0.3s ease-in-out,
            color 0.3s ease-in-out;
    }

    .content {
        padding: 1em;
        color: var(--fg);
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        p {
            margin: 0;
            text-indent: 0;
        }

        transition: color 0.3s ease-in-out;
    }

    &[data-type="warning"] {
        .title {
            background-color: var(--warning);
        }

        position: relative;
        border: 1px var(--warning) solid;
    }

    &[data-type="info"] {
        .title {
            background-color: var(--info);
        }

        position: relative;
        border: 1px var(--info) solid;
    }

    /* &[data-type="critical"] {
            .title {
                background-color: var(--error);
            }

            position: relative;
            border: 1px var(--error) solid;

            border-radius: var(--border-radius);
        } */

    transition: border-color 0.3s ease-in-out;
}

p {
    margin-bottom: 1em;
    text-indent: 1.5em;
}

.pride-flag-tables {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1em;
    justify-content: center;
    align-items: flex-start;
}

table {
    border-radius: var(--border-radius);
    margin-bottom: 1em;
    width: 96%;
    border-collapse: collapse;
    border: 1px solid transparent;
    margin-left: 2%;

    text-align: left;

    code {
        position: relative;
    }

    .required td:first-of-type code {
        position: relative;
        margin-right: 0.5em;
        &:before {
            position: absolute;
            top: -5px;
            right: -10px;
            color: var(--required);
            content: "*";
        }
    }

    td,
    th {
        position: relative;
        padding: 0.5em;
        border-bottom: 1px solid var(--fg);
        border-right: 1px solid var(--fg);

        span.color {
            display: block;
            width: 4em;
            height: 1.5em;
            background: var(--linear-background, var(--color));
            border: 1px var(--fg) solid;
            border-radius: var(--border-radius-secondary);
        }
    }

    &[data-type="pride-flags"] {
        width: 40%;
        td {
            height: 2em;
        }
        td:nth-child(2) {
            width: 6em;
        }
        span.color {
            position: absolute;
            top: 0;
            left: 0;
            transform: rotate(90deg) translateX(-70%) translateY(-40%);
            width: 2em;
            height: 6em;
        }
    }

    td:last-child,
    th:last-child {
        border-right: none;
    }

    tr:last-child td {
        border-bottom: none;
    }

    th {
        font-weight: bold;
    }
}

table[data-type="query-parameters"] {
    td:last-child,
    th:last-child {
        text-align: right;
    }
}

@media screen and (max-width: 600px) {
    .container {
        box-sizing: border-box;
        width: 100%;
        padding: 1em;
    }
    h1 {
        font-size: 2.5em;
    }

    h2 {
        margin-top: 1em;
        font-size: 1.8em;
    }

    h3 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }

    table {
        width: 100%;
        margin-left: 0;
    }

    note {
        margin: 0.5em 0;
    }
}

/* li {
        margin-bottom: 0.5em;
        padding-left: 0.5em;

        position: relative;
        list-style-type: none;



        &.optional:before {
            color: var(--fg);
            content: "-";
        }

        &::before {
            position: absolute;

            font-weight: bold;
            left: -6px;
        }
    } */
